@import url('https://fonts.googleapis.com/css2?family=Alata&family=Open+Sans:ital@1&display=swap');

@import url('./components/button.css');
@import url('./components/colors.css');
@import url('./components/display-properties.css');
@import url('./components/customized-scroll-bar.css');
@import url('./components/reset.css');
@import url('./components/spacing-properties.css');

h1,h2 {
    font-family: 'Alata', sans-serif;
}
p,a,span {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}

body {
    background-color: rgb(238, 238, 238);
}

header {
    background-color: #26547C;
    padding: 1.5rem 1rem;
    position: sticky;
    top: 0;
}
/* .toggle-icon {
    display: none;
}
header i {
    cursor: pointer;
}
header i:hover {
    color: rgb(211, 211, 33);
} */
.header-logo h2 {
    color: white;
}
header a {
    margin-left: 1rem;
    color: #9792E3;
}
header a:hover {
    color: #DB5A42;
}

.first-section-info {
    width: 80%;
    margin: auto;
    padding: 3rem 1rem 1rem;
}
.first-section-info h2 {
    font-size: 50px;
    font-weight: bolder;
    padding-bottom: 1rem;
}
.first-section-info button {
    padding: .5rem 1.5rem;
    margin-top: 1rem;
    background-color: #26547C;
    border: none;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    margin-left: 25%;
}
.first-section-info button:hover {
    background-color: #9792E3;
}

.second-section-info {
    width: 80%;
    margin: auto;
    padding: 1rem;
}
.second-section-info h2 {
    color: black;
    font-weight: bolder;
}
.second-section-info p {
    color: #26547C;
    font-weight: bold;
    margin-top: .5rem;
}
.second-section-info p:hover {
    color: #9792E3;
}
.menu-container {
    text-align: center;
}
.cake-link {
    cursor: pointer;
    width: 60%;
    margin: auto;
    padding: 0 0 1rem;
    margin-top: 1rem;
}
.cake-link:hover {
    background-color: #26547C;
}
.menu-container img{
    width: 200px;
    height: 170px;
}
.menu-container div p {
    color: #9792E3;
}
.menu-container div p:hover {
    color: #9792E3;
}
.third-section-info {
    background: url('https://image.freepik.com/free-photo/flavorful-fruit-salad-yellow-background_23-2148256075.jpg') repeat-x;
    width: 100%;
    height: 80vh;
}
.search,.menu {
    margin-left: 30%;
    padding: 1rem;
}
.search-bar {
    border: 1px solid white;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.search-bar input {
    border: none;
    padding: .3rem;
    background-color: inherit;
}
.search-bar i {
    color: white;
    padding: .3rem 0 .3rem .5rem;
}
.btn-light {
    background-color: white;
    color: blue;
}
.menu {
    display: none;
}
.menu-list {
    position: relative;
    top: 40%;
    margin: auto;
    height: 200px;
    overflow: scroll;
}
.card {
    padding: 1rem 2rem;
}
.card-1 {
    margin-bottom: .3rem;
}
.breakfast {
    margin: .5rem 0;
}
.card-heading {
    margin-bottom: 1rem;
}
.card-price {
    margin-top: .5rem;
}
.card-price p {
    font-weight: bold;
}

footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
footer p {
    color: black;
    padding-right: 30px;
}
footer a:hover {
    color: red;
}

@media only screen and (min-width: 700px) {
    .first-section-info {
        width: 60%;
    }
}

@media only screen and (min-width: 870px) {
    header {
        padding: 1.5rem 3rem;
    }
    header a {
        margin-left: 3rem;
    }
    .first-section-info {
        width: 55%;
    }
    .first-section-info button{
        margin-left: 36%;
        margin-top: 2rem;
    }
    .menu-list {
        width: 40%;
    }
    .menu-container {
        display: flex;
    }
    .search-bar {
        width: 50%;
    }
    .search {
        justify-content: space-around;
    }
}

@media only screen and (min-width: 1100px) {
    .main {
        display: flex;
    }
    .first-section-main,.third-section-info {
        height: 80vh;
        width: 50%;
    }
    .first-section-info {
        width: 90%;
    }
    .menu-container {
        margin-top: .5rem;
    }
    .second-section-info {
        width: 90%;
    }
    .menu-container img{
        width: 100px;
        height: 85px;
    }
    .search-bar {
        width: 75%;
    }
    .search-bar input {
        width: 91%;
    }
    .menu-list {
        top: 36.5%;
        left: 22%;
        width: 100%;
        display: flex;
        overflow: hidden;
        height: 260px;
    }
    .menu {
        display: flex;
        position: relative;
        left: 20%;
        top: 35%;
        padding-bottom: 0;
    }
    .menu button {
        background-color: green;
        opacity: 1;
        color: white;
    }
    .menu i {
        color: white;
        margin: .5rem;
    }
    .card-number {
        text-align: center;
        color: #DB5A42;
        margin-bottom: .5rem;
    }
    .card {
        height: 85%;
        width: 90%;
        transition: 4s;
    }
    .card-2,.card-3,.card-4,.card-5 {
        margin-left: .5rem;
    }
    .card-price {
        margin-top: 1rem;
    }
    .nav-buttons a:first-child{
        border-radius: 10px 3px 3px 10px;
        transition: 2s;
    }
    .nav-buttons a:last-child{
        border-radius: 3px 10px 10px 3px;
        transition: 2s;
    }
    .nav-buttons a:hover {
        background-color: #DB5A42;
        width: 15%;
    }
    /* .card-3 {
        display: none;
    } */
    footer {
        background-color: #26547C;
        height: 60px;
    }
    footer p {
        color: white;
    }
    footer a {
        color: #DB5A42 !important;
    }
    footer a:hover {
        color: #9792E3 !important;
    }
}